<div class="favorite-area">
    <% if recipe.favorited_by?(current_user) %>
        <%= link_to recipe_favorites_path(recipe), data: { turbo_method: :delete }, class: "favorite-btn" do %>
            <i class="fa-solid fa-star" aria-hidden="true" style="color: orange;"></i>
            <%= recipe.favorites.count %>
        <% end %>
    <% else %>
        <%= link_to recipe_favorites_path(recipe), data: { turbo_method: :post }, class: "favorite-btn" do %>
            <i class="fa-solid fa-star" aria-hidden="true"></i>
            <%= recipe.favorites.count %>
        <% end %>
    <% end %>
</div>
