.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 20;
}

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FEFEFE;
        width: 600px;
        height: 300px;
        border-radius: 10px;
    }

        .modal-header {
            display: flex;
            justify-content: right;
            width: 100%;
            height: 40%;
            padding-right: 10px;
        }

            .modal-title {
                font-size: 20px;
                font-weight: bold;
                margin-right: 240px;
            }

            .close-modal-button {
                background-color: #FEFEFE;
                width: 30px;
                height: 30px;
                border: none;
                color: gray;
                font-size: 30px;
            }

            .close-modal-button:hover {
                color: #b7b7b7;
            }

        .modal-body {
            width: 100%;
            height: 40%;
            padding-top: 10px;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
        }

        .modal-footer {
            display: flex;
            width: 100%;
            height: 20%;
            border-top: 2px solid #dddddd;
        }

            .cancel-modal-button {
                background-color: #FEFEFE;
                width: 50%;
                height: 100%;
                border: none;
                border-radius: 0 0 0 10px;
            }

            .cancel-modal-button:hover {
                background-color: #dddddd;
                color: gray;
            }

            .recipe-delete {
                display: inline-block;
                width: 50%;
                height: 100%;
                border-left: 2px solid #dddddd;
                text-align: center;
                line-height: 60px;
                color: black;
                text-decoration: none;
            }

            .recipe-delete:hover {
                background-color: #dddddd;
                color: gray;
            }



@media (max-width: 767px) {
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FEFEFE;
        width: 70%;
        height: 40%;
        border-radius: 10px;
    }

        .modal-header {
            display: flex;
            justify-content: right;
            width: 100%;
            height: 30%;
            padding-right: 10px;
        }

            .modal-title {
                font-size: 16px;
                font-weight: bold;
                margin-right: 30%;
            }

            .close-modal-button {
                background-color: #FEFEFE;
                width: 26px;
                height: 26px;
                border: none;
                color: gray;
                font-size: 24px;
            }

        .modal-body {
            width: 100%;
            height: 50%;
            padding-top: 10%;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }

        .modal-footer {
            display: flex;
            width: 100%;
            height: 20%;
            border-top: 2px solid #dddddd;
        }

            .cancel-modal-button {
                background-color: #FEFEFE;
                width: 50%;
                height: 100%;
                border: none;
                border-radius: 0 0 0 10px;
                font-size: 14px;
            }

            .cancel-modal-button:hover {
                background-color: #dddddd;
                color: gray;
            }

            .recipe-delete {
                display: inline-block;
                width: 50%;
                height: 100%;
                border-left: 2px solid #dddddd;
                text-align: center;
                line-height: 250%;
                color: black;
                font-size: 14px;
                text-decoration: none;
            }

            .recipe-delete:hover {
                background-color: #dddddd;
                color: gray;
            }
}