body {
    background-color: #F3F3F3;
}

.main-container {
    width: 100vw;
}

    .main-top {
        background-image: url('background.jpg');
        background-size: cover;
        height: 490px;
        margin-top: 1px;
        padding-top: 110px;
    }

        .main-top-text {
            text-align: center;
            margin-bottom: 30px;
            color: #635F5B;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .swiper-container {
            max-width: 1440px;
            margin: 0 auto;
        }
        
        
            .infinite-slider .swiper-wrapper {
                transition-timing-function: linear;
            }
            
            
            .infinite-slider .swiper-slide {
                height: 320px !important;
                width: auto !important;
            }
            
            
            .infinite-slider .swiper-slide img {
                width: auto;
                height: 100%;
            }



    .slot-container {
        width: 100%;
        height: 350px;
        margin: 100px 0 550px;
    }

        .slot-texts {
            width: 100%;
            text-align: center;
        }

            .slot-text {
                margin: 10px;
                color: #635F5B;
                font-size: 24px;
                font-weight: bold;
            }

            .slot-text-img {
                width: 100px;
                height: 100px;
                margin: 50px auto;
            }

        .slot-area {
            width: 100%;
            height: 100%;
            margin-left: 350px;
            text-align: center;
        }

            .slot {
                background-image: url(slot.png);
                background-size: contain;
                width: 750px;
                height: 430px;
                overflow: hidden;
            }

                .slot-inner {
                    margin-top: 190px;
                    transition: top 1s ease-in-out; /* アニメーションの設定 */
                    font-size: 20px;
                    font-weight: bold;
                }

                    .slot-recipe {
                        width: 250px;
                        height: 150px;
                        margin: 0 auto;
                    }

                        .slot-inner a {
                            color: black;
                            text-decoration: none;
                        }

        .buttons {
            width: 750px;
            margin: 20px 0;
        }

            .start-button {
                background-color: orange;
                width: 250px;
                height: 40px;
                margin-right: 40px;
                border: none;
                box-shadow: 2px 3px gray;
                color: white;
                font-size: 18px;
                font-weight: bold;
            }

            .start-button:active {
                position: relative;
                top: 3px;
                left: 2px;
                box-shadow: none;
            }

            .stop-button {
                background-color: #bababa;
                width: 250px;
                height: 40px;
                border: none;
                box-shadow: 2px 3px gray;
                color: white;
                font-size: 18px;
                font-weight: bold;
            }

            .stop-button:active {
                position: relative;
                top: 3px;
                left: 2px;
                box-shadow: none;
            }




    .main-area {
        width: 100%;
        padding-top: 50px;
    }

        .recipes-container {
            width: 90%;
            margin: 0 auto 50px;
        }


            .recipes-list-text {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                text-align: center;
                color: #635F5B;
            }

                .text-icon {
                    width: 28px;
                    height: 28px;
                }

                .recipe-lists-title {
                    margin: 0 10px 0 5px;
                }

        .search-form {
            margin-bottom: 10px;
            text-align: center;
        }

            .search-input {
                width: 300px;
                padding: 5px;
            }

        .recipe-area {
            background-color: white;
            width: 100%;
            padding: 30px 20px 20px;
        }

        .search-btn {
            position: absolute;
            width: 38px;
            height: 38px;
            border: none;
        }

            .recipe-lists {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }

                .recipe-list {
                    background-color: white;
                    width: 370px;
                    height: 380px;
                    margin: 24px 24px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #c3c3c3;
                }

                    .image-content {
                        width: 100%;
                        height: 79%;
                    }

                        .recipe-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px 5px 0 0;
                        }

                    .recipe-texts {
                        width: 100%;
                        height: 21%;
                        margin: 0 15px;
                    }

                        .recipe-title {
                            margin: 3px 0;
                        }

                        .recipe-title a {
                            color: black;
                            font-size: 18px;
                            font-weight: bold;
                            text-decoration: none;
                        }

                        .cooking-time {
                            color: #9a9a9a;
                            font-size: 14px;
                        }

                        .recipe-texts-flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                            .recipe-user a {
                                color: #9a9a9a;
                                font-size: 14px;
                                text-decoration: none;
                            }