.my-page-container {
    width: 100%;
    height: 100%;
}

    .my-page-area {
        background-color: white;
        margin: 0 auto;
        padding-top: 30px;
    }

        .information {
            height: 60px;
            border-bottom: 1px solid #D4D2CC;
        }

            .information-nickname {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }

            .recipe-favorite-flex {
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #D4D2CC;
            }

                .my-recipe-text {
                    background-color: white;
                    width: 500px;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 2px solid black;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                }

                .my-favorite-text {
                    background-color: white;
                    width: 500px;
                    padding: 10px 0;
                    border: none;
                    text-align: center;
                    color: #9F9F9F;
                    font-size: 18px;
                    font-weight: bold;
                }

            .my-recipe-lists {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                overflow: scroll;
                background-color: #F3F3F3;
                height: 535px;
            }

            #my-favorite-lists {
                display: none;
            }

                .my-recipe-list {
                    background-color: white;
                    width: 370px;
                    height: 380px;
                    margin: 20px 55px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #c3c3c3;
                }