.my-page-container {
    width: 100%;
    height: 100%;
}

    .my-page-area {
        background-color: white;
        margin: 0 auto;
        padding-top: 50px;
    }

        .information {
            height: 80px;
            border-bottom: 1px solid #D4D2CC;
        }

            .information-nickname {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }

            .my-recipe-text {
                padding: 10px 0;
                border-bottom: 1px solid #D4D2CC;
                text-align: center;
                font-weight: bold;
            }

            .my-recipe-lists {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                overflow: scroll;
                background-color: #F3F3F3;
                height: 500px;
            }

            .my-recipe-list {
                background-color: white;
                width: 370px;
                height: 350px;
                margin: 20px 55px;
                border-radius: 5px;
                box-shadow: 0 0 5px #c3c3c3;
            }